<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: #e9ecef; padding: 20px 10%; text-align: center;
    margin: 20px 10%; border-radius: 10px;">
        <h1 style="color: #0e1afd;">Hasta luego {{usuario}}</h1>
    </div>
</div>

<script> 
    setTimeout(() => {
        location.href = "/";
    }, 2000);
</script>