<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container my-5">
      <div class="jumbotron">
        <h1>SIGNUP</h1>
        <br />
        <form method="POST" enctype="multipart/form-data" id="updateAvatar">
          <input type="file" id="avatar-img" name="avatar" required />
        </form>
        <br />
        <form
          enctype="multipart/form-data"
          id="formRegister"
          class="form"
          role="form"
          autocomplete="off"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="username"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="email"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="password"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="firstName"
              placeholder="first name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="lastName"
              placeholder="last name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="address"
              placeholder="address"
              required
            />
          </div>
          <div class="form-group">
            +54
            <input
              type="text"
              class="form-control"
              name="phone"
              placeholder="phone"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              name="age"
              placeholder="age"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="btn btn-primary my-3"
              type="submit"
              id="btnFormRegister"
              value="Singup"
            />
          </div>
        </form>
        <hr />
        <button class="btn btn-light my-3" onclick="goLogin()">
          IR AL LOGIN
        </button>
      </div>
    </div>
    <script>
      function redireccionar(pagina) {
        location.href = pagina;
      }

      function goLogin() {
        redireccionar("/login");
      }
    </script>
    <script src="./js/register.js"></script>
  </body>
</html>
