{{#if username}}
<div class="bg-success p-4 mb-4 d-flex justify-content-between align-items-center" style="--bs-bg-opacity: .5;">
	<h1>Bienvenido</h1>
	<div class="d-flex flex-column align-items-center">
		<span class="my-2">{{username}}</span>
         <div>
        <button class="btn btn-info my-5" onclick="verInfo()">Ver INFO</button>
        </div>
		<form action="/logout" method="POST">
			<div>
				<input class="btn btn-success" type='submit' value='Cerrar sesión' />
			</div>
		</form>
	</div>
</div>
{{/if}}
<div class="container">
    <h2 class="titulo">Ingrese Producto</h2>
    <form onsubmit="return addProduct(this)">
        <label for="formGroupExampleInput" class="form-label">Titulo:</label>
        <input type="text" class="form-control" id="title" placeholder="Titulo">
        <label for="formGroupExampleInput2" class="form-label">Precio :</label>
        <input type="text" class="form-control" id="price" placeholder="Precio Producto">
        <label for="formGroupExampleInput2" class="form-label">Direccion Imagen:</label>
        <input type="text" class="form-control" id="thumbnail" placeholder="Url Imagen">
        <input type="submit" class=" btn btn-primary inputEnviar"></input>
    </form>
    <h3 class="subtitulo">Lista de productos</h3>
    <table id="table">
        <thead>
            <tr role="row">
                <th>Titulo</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="products">

        </tbody>
    </table>
</div>

<div class="container">
    <h2 class="titulo">Centro de Mensajes</h2>
    <form onsubmit="return addMessage(this)">
        <input type="email" class="form-control" required id="id" placeholder="ejemplo@gmail.com">
        <input type="text" class="form-control"  id="nombre" placeholder="Nombre">
        <input type="text" class="form-control"  id="apellido" placeholder="Apellido">
        <input type="number" class="form-control"  id="edad" placeholder="Edad">
        <input type="text" class="form-control"  id="alias" placeholder="Alias">
        <input type="text" class="form-control"  id="text" placeholder="Mensaje">
        <input type="text" class="form-control"  id="avatar" placeholder="Avatar">
        <input type="submit" class=" btn btn-primary inputEnviar"></input>
    </form>
    <div id="messages"></div>
</div>


</form>
    <script>
      function redireccionar(pagina) {
        location.href = pagina;
      }
      function verInfo() {
        redireccionar("/info");
      }
    </script>
<br>