<div class='itemCartContainer'>
    <div class='itemImg'>
        <img src={{item.thumbnail}} alt="" />
        <div class='itemName'>
            <p>{{item.title}}</p>
            <button id='{{item._id}}'>Remover producto</button>
        </div>
        <p class='item-price'>${{item.price}}</p>
    </div>
</div>